fastapi
streamlit
uvicorn
GitPython
nbformat
semchunk
tree_sitter
tree_sitter_language_pack
marqo
tiktoken
google-generativeai
openai
python-dotenv
pydantic_settings
chromadb
faiss-cpu
nltk
langchain
pinecone
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-milvus
langchain-openai
langchain-qdrant
langchain-voyageai
pinecone-text
qdrant-client